.container {
  color: brown;
  border-radius: 5px;
}

.bold {
  color: aqua;
}

/* body{
    background-color: rgb(170, 179, 179);
} */

.navbar {
  background-color: rgb(32, 25, 18);
}

.accordion-header {
  background-color: rgb(238, 238, 30);
  color: aqua;
}